<div class="step-content" [formGroup]="formGroup">
  <h2>{{ "STEP1.TITLE" | transloco }}</h2>

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP1.FIRST_NAME" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="firstName"
      [placeholder]="'STEP1.FIRST_NAME' | transloco"
    ></ion-input>
  </ion-item>
  @if (
    formGroup.get("firstName")?.invalid && formGroup.get("firstName")?.touched
  ) {
    <div class="error-message">
      @if (formGroup.get("firstName")?.errors?.["required"]) {
        {{ "COMMON.REQUIRED" | transloco }}
      }
    </div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP1.LAST_NAME" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="lastName"
      [placeholder]="'STEP1.LAST_NAME' | transloco"
    ></ion-input>
  </ion-item>
  @if (
    formGroup.get("lastName")?.invalid && formGroup.get("lastName")?.touched
  ) {
    <div class="error-message">
      @if (formGroup.get("lastName")?.errors?.["required"]) {
        {{ "COMMON.REQUIRED" | transloco }}
      }
    </div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP1.DATE_OF_BIRTH" | transloco }} *</ion-label
    >
    <ion-input type="date" formControlName="dateOfBirth"></ion-input>
  </ion-item>
  @if (
    formGroup.get("dateOfBirth")?.invalid &&
    formGroup.get("dateOfBirth")?.touched
  ) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP1.PLACE_OF_BIRTH" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="placeOfBirth"
      [placeholder]="'STEP1.PLACE_OF_BIRTH' | transloco"
    ></ion-input>
  </ion-item>
  @if (
    formGroup.get("placeOfBirth")?.invalid &&
    formGroup.get("placeOfBirth")?.touched
  ) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP1.NATIONALITY" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="nationality"
      [placeholder]="'STEP1.NATIONALITY' | transloco"
    ></ion-input>
  </ion-item>
  @if (
    formGroup.get("nationality")?.invalid &&
    formGroup.get("nationality")?.touched
  ) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP1.MARITAL_STATUS.LABEL" | transloco }} *</ion-label
    >
    <ion-select
      formControlName="maritalStatus"
      [placeholder]="'STEP1.MARITAL_STATUS.LABEL' | transloco"
    >
      @for (status of maritalStatuses; track status.value) {
        <ion-select-option [value]="status.value">
          {{ status.label | transloco }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>
  @if (
    formGroup.get("maritalStatus")?.invalid &&
    formGroup.get("maritalStatus")?.touched
  ) {
    <div class="error-message">Marital status is required</div>
  }
</div>
