<div class="step-content" [formGroup]="formGroup">
  <h2>Work Experience</h2>

  <div formArrayName="workExperiences">
    @for (experience of workExperiences.controls; track $index) {
      <div class="work-experience-card" [formGroupName]="$index">
        <div class="card-header">
          <h3>Position {{ $index + 1 }}</h3>
          @if (workExperiences.length > 1) {
            <ion-button
              fill="clear"
              color="danger"
              size="small"
              (click)="removeWorkExperience($index)"
            >
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          }
        </div>

        <ion-item button="true" [id]="'work-start-' + $index">
          <ion-label position="stacked">Start Date</ion-label>
          <div class="date-value">
            {{ formatDate(experience.get("start")?.value) }}
          </div>
        </ion-item>

        <ion-item button="true" [id]="'work-end-' + $index">
          <ion-label position="stacked">End Date</ion-label>
          <div class="date-value">
            {{ formatDate(experience.get("end")?.value) }}
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Position</ion-label>
          <ion-input
            formControlName="position"
            type="text"
            placeholder="e.g., Software Developer"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Responsibilities</ion-label>
          <ion-textarea
            formControlName="responsibilities"
            placeholder="Describe your main responsibilities..."
            [autoGrow]="true"
            rows="3"
          ></ion-textarea>
        </ion-item>

        <!-- Modals for this experience -->
        <ion-modal [trigger]="'work-start-' + $index" #workStartModal>
          <ng-template>
            <div class="modal-content">
              <ion-datetime
                presentation="month-year"
                [value]="experience.get('start')?.value"
                (ionChange)="confirmDate($index, 'start', $event)"
              ></ion-datetime>
              <ion-button expand="block" (click)="workStartModal.dismiss()">
                OK
              </ion-button>
            </div>
          </ng-template>
        </ion-modal>

        <ion-modal [trigger]="'work-end-' + $index" #workEndModal>
          <ng-template>
            <div class="modal-content">
              <ion-datetime
                presentation="month-year"
                [value]="experience.get('end')?.value"
                (ionChange)="confirmDate($index, 'end', $event)"
              ></ion-datetime>
              <ion-button expand="block" (click)="workEndModal.dismiss()">
                OK
              </ion-button>
            </div>
          </ng-template>
        </ion-modal>
      </div>
    }
  </div>

  <ion-button
    expand="block"
    fill="outline"
    (click)="addWorkExperience()"
    class="add-button"
  >
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Add Another Position
  </ion-button>
</div>
