<div class="step-content" [formGroup]="formGroup">
  <h2>{{ "STEP2.TITLE" | transloco }}</h2>
  <ion-item>
    <ion-label position="floating">{{ "STEP2.PHONE" | transloco }} *</ion-label>
    <ion-input
      type="tel"
      formControlName="phone"
      [placeholder]="'STEP2.PHONE' | transloco"
    ></ion-input>
  </ion-item>
  @if (formGroup.get("phone")?.invalid && formGroup.get("phone")?.touched) {
    <div class="error-message">
      {{ "COMMON.REQUIRED" | transloco }}
    </div>
  }

  <ion-item>
    <ion-label position="floating">{{ "STEP2.EMAIL" | transloco }} *</ion-label>
    <ion-input
      type="email"
      formControlName="email"
      [placeholder]="'STEP2.EMAIL' | transloco"
    ></ion-input>
  </ion-item>
  @if (formGroup.get("email")?.invalid && formGroup.get("email")?.touched) {
    <div class="error-message">
      @if (formGroup.get("email")?.errors?.["required"]) {
        {{ "COMMON.REQUIRED" | transloco }}
      }
      @if (formGroup.get("email")?.errors?.["email"]) {
        {{ "COMMON.INVALID_EMAIL" | transloco }}
      }
    </div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP2.STREET" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="street"
      [placeholder]="'STEP2.STREET' | transloco"
    ></ion-input>
  </ion-item>
  @if (formGroup.get("street")?.invalid && formGroup.get("street")?.touched) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP2.HOUSE_NUMBER" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="houseNumber"
      [placeholder]="'STEP2.HOUSE_NUMBER' | transloco"
    ></ion-input>
  </ion-item>
  @if (
    formGroup.get("houseNumber")?.invalid &&
    formGroup.get("houseNumber")?.touched
  ) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }

  <ion-item>
    <ion-label position="floating"
      >{{ "STEP2.POSTAL_CODE" | transloco }} *</ion-label
    >
    <ion-input
      type="text"
      formControlName="postalCode"
      [placeholder]="'STEP2.POSTAL_CODE' | transloco"
    ></ion-input>
  </ion-item>
  @if (
    formGroup.get("postalCode")?.invalid && formGroup.get("postalCode")?.touched
  ) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }

  <ion-item>
    <ion-label position="floating">{{ "STEP2.CITY" | transloco }} *</ion-label>
    <ion-input
      type="text"
      formControlName="city"
      [placeholder]="'STEP2.CITY' | transloco"
    ></ion-input>
  </ion-item>
  @if (formGroup.get("city")?.invalid && formGroup.get("city")?.touched) {
    <div class="error-message">{{ "COMMON.REQUIRED" | transloco }}</div>
  }
</div>
