.step-content {
  ion-item {
    --background: var(--ion-color-light);
    margin-bottom: 12px;
    border-radius: 12px;

    &.ion-invalid.ion-touched {
      --border-color: var(--ion-color-danger);
      --highlight-color-focused: var(--ion-color-danger);
    }
  }

  ion-label {
    font-weight: 500;
    font-size: 16px;
  }

  ion-input,
  ion-select,
  ion-textarea {
    margin-top: 18px;
  }

  .error-message {
    color: var(--ion-color-danger);
    font-size: 14px;
    padding: 4px 0 8px 0;
    margin-top: -12px;
  }
}
