<div class="step-content" [formGroup]="formGroup">
  <h2>Education</h2>

  <h3 class="section-title">School Education</h3>

  <ion-item>
    <ion-label position="floating">School Type</ion-label>
    <ion-select formControlName="schoolType" placeholder="Select school type">
      @for (type of schoolTypes; track type.value) {
        <ion-select-option [value]="type.value">
          {{ type.label }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <div class="date-group">
    <ion-item>
      <ion-label position="floating">Completion Month</ion-label>
      <ion-select formControlName="schoolCompletionMonth" placeholder="Month">
        @for (month of months; track month.value) {
          <ion-select-option [value]="month.value">
            {{ month.label }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Completion Year</ion-label>
      <ion-select formControlName="schoolCompletionYear" placeholder="Year">
        @for (year of years; track year.value) {
          <ion-select-option [value]="year.value">
            {{ year.label }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </div>

  <h3 class="section-title">Higher Education</h3>

  <ion-item>
    <ion-label position="floating">Degree</ion-label>
    <ion-select formControlName="higherEducation" placeholder="Select degree">
      @for (edu of higherEducationTypes; track edu.value) {
        <ion-select-option [value]="edu.value">
          {{ edu.label }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <div class="date-group">
    <ion-item>
      <ion-label position="floating">Completion Month</ion-label>
      <ion-select
        formControlName="higherEducationCompletionMonth"
        placeholder="Month"
      >
        @for (month of months; track month.value) {
          <ion-select-option [value]="month.value">
            {{ month.label }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Completion Year</ion-label>
      <ion-select
        formControlName="higherEducationCompletionYear"
        placeholder="Year"
      >
        @for (year of years; track year.value) {
          <ion-select-option [value]="year.value">
            {{ year.label }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </div>
</div>
