.step-content {
  .education-card {
    background: var(--ion-color-light);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid var(--ion-color-light-shade);

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }

    .date-row {
      display: flex;
      gap: 12px;
      margin-bottom: 10px;

      .date-group {
        flex: 1;
      }
    }

    ion-item {
      --background: var(--ion-color-light-tint);
      margin-bottom: 12px;
      border-radius: 12px;

      &.ion-invalid.ion-touched {
        --border-color: var(--ion-color-danger);
        --highlight-color-focused: var(--ion-color-danger);
      }
    }

    ion-label {
      font-weight: 500;
      font-size: 16px;
    }

    ion-input,
    ion-select {
      margin-top: 18px;
    }

    .date-value {
      padding: 12px 0;
      font-size: 20px;
      color: var(--ion-color-dark);
      width: 100%;
    }
  }
}
